.staff_item {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.staff_avatar {
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    width: 5rem;
}

.w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.text-size-eyebrow {
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 1;
}

@media screen and (max-width: 479px) {
    .staff_item {
        flex-flow: column;
    }
}